:root {
  /* Theme 1 */
  --very-dark-desaturated-blue-main: #3a4764;
  --very-dark-desatutated-blue-toggle: #232c43;
  --very-dark-desaturated-blue-background: #182034;

  --desaturated-dark-blue-key-background: #637097;
  --desaturated-dark-blue-key-shadow: rgb(64, 78, 114);
  --red-background: #d03f2f;
  --dark-red-key-shadow: #93261a;
  --light-grayish-orange: #eae3dc;
  --grayish-orange-key-shadow: #b4a597;

  --very-dark-grayish-blue: #444b5a;
  --white: #ffffff;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: var(--desaturated-dark-blue-key-background);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow: hidden;
  color: var(--white);
}

.main-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-container__header__theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  position: relative;
}

.main-container__header__theme-container-numbers-colors {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 85px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-container__header__theme-container-numbers-colors p {
  font-size: 16px;
}

.main-container__header__theme-container>label {
  font-size: 18px;
  text-transform: uppercase;
}

.main-container__header__theme-container__change-input {
  width: 85px;
  padding-top: 30px;
}

.main-container__header__theme-container__change-input {
  appearance: none;
  background: transparent;
}

.main-container__header__theme-container__change-input::-webkit-slider-runnable-track {
  appearance: none;
  background-color: var(--very-dark-desatutated-blue-toggle);
  padding: 5px 5px;
  border-radius: 30px;
  cursor: grab;
}

.main-container__header__theme-container__change-input::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--red-background);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.main-container__result-section {
  width: 100%;
  background-color: var(--very-dark-desaturated-blue-background);
  text-align: right;
  padding: 1rem;
  border-radius: 12px;
}

.main-container__result-section p {
  font-size: 46px;
}

.main-container__keys {
  width: 100%;
  height: 65%;
  background-color: var(--very-dark-desatutated-blue-toggle);
  padding: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-content: center;
  place-items: center;
  border-radius: 8px;
  gap: 8px;
}

.main-container__keys__button-container {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: bolder;
  background-color: var(--grayish-orange-key-shadow);
  padding-bottom: 5px;
  max-height: 85px;
  max-width: 85px;
}

.main-container__keys__button-container-reset {
  grid-column: span 2;
  background-color: var(--very-dark-desaturated-blue-main);
  max-width: none;
  max-height: none;
}

.main-container__keys__button-container-equal {
  grid-column: span 2;
  background-color: var(--dark-red-key-shadow);
  max-width: none;
  max-height: none;
}

.main-container__keys__button-container-delete {
  background-color: var(--very-dark-desaturated-blue-main);
}

.main-container__keys__button-container__normal-button {
  border: none;
  outline: none;
  background-color: var(--light-grayish-orange);
  color: var(--very-dark-desaturated-blue-main);
  cursor: pointer;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.main-container__keys__button-container__normal-button-delete {
  background-color: var(--desaturated-dark-blue-key-background);
  color: var(--white);
  font-size: 25px;
  cursor: pointer;
}

.main-container__keys__button-container__reset-button {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--desaturated-dark-blue-key-background);
  color: var(--white);
  font-size: 25px;
  cursor: pointer;
}

.main-container__keys__button-container__equal-button {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--red-background);
  color: var(--white);
  cursor: pointer;
}