:root {
  /* Theme 1 */
  --very-dark-desaturated-blue-main: #3a4764;
  --very-dark-desatutated-blue-toggle: #232c43;
  --very-dark-desaturated-blue-background: #182034;

  --desaturated-dark-blue-key-background: #637097;
  --desaturated-dark-blue-key-shadow: rgb(64, 78, 114);
  --red-background: #d03f2f;
  --dark-red-key-shadow: #93261a;
  --light-grayish-orange: #eae3dc;
  --grayish-orange-key-shadow: #b4a597;

  --very-dark-grayish-blue: #444b5a;
  --white: #ffffff;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: var(--desaturated-dark-blue-key-background);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow: hidden;
  color: var(--white);
}

.main-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-container__header__theme-container>label {
  font-size: 18px;
  text-transform: uppercase;
}

.main-container__header__theme-container>input {
  width: 85px;
}

.main-container__result-section {
  width: 100%;
  background-color: var(--very-dark-desaturated-blue-background);
  text-align: right;
  padding: 1rem;
  border-radius: 12px;
}

.main-container__result-section p {
  font-size: 46px;
}

.main-container__keys {
  height: 65%;
  background-color: var(--very-dark-desatutated-blue-toggle);
  padding: 1rem;
  border-radius: 12px;
}